h1, ul, li, p{
    font-family: "VT323", monospace;
    text-align: center;
    border-top: 20px;
    color : #14cf14;
}
body{
    background-color:black ;
}

.partie-1, .image-2
{
    border-radius: 50px;
    box-shadow: 6px 6px 25px #14cf14;
    padding: 50px;
    text-align: center;
    width: 40%;
}

