h1, .titre-1, ul, li, p, span{
    font-family: "VT323", monospace;
    text-align: center;
    border-top: 20px;
    color : white;
}
.titre-1{
    font-family: "VT323", monospace;
    text-align: center;
    font-size: 40px;
    background-size: cover;
}
body{
    background-color:#0b0b16;
}

.partie-1, .partie-2
{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    text-align: center;
    width: 40%;
    flex: 1;
}
.bloc-parent{
    align-items: left;
    gap: 20px;
    display: flex;
    padding:20px;
    flex-direction: row;
}
.partie-3
{
    border-radius: 50px;
    box-shadow: 6px 6px 25px black;
    padding: 50px;
    text-align: center;
    width: 100%;
    flex: 1;  
}

.barre-sommaire{
    position: sticky;
    top: 0;
    width: 100%;
    height: 48px;
    background: rgba(11, 14, 20, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 9999;
    display: flex;
    align-items: center;
}
.nom-sommaire{
  max-width: 1000px;
  margin: 0 auto;     
  width: 100%;
  display: flex;
  justify-content: center; 
  gap: 40px;          
}
span{
    color : white;
}
.titre-3{
    font-family: "VT323", monospace;
    text-align: center;
    color:white;
}
.bloc-vignette{
    display: flex;
    border-radius: 50px;
    padding: 50px;
    align-items: center;
    overflow-x: auto;
    gap: 20px;
}
.vignette{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    align-items: center;
    width: 95%;
}
.vignette-1{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    align-items: center;
    width: 95%;
}
.vignette-2{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    align-items: center;
    width: 95%;
}
.vignette-3{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    align-items: center;
    width: 95%;
}
.vignette-4{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    align-items: center;
    width: 95%;
}
.vignette-5{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    align-items: center;
    width: 95%;
}
.titre-5{
    font-family: "VT323", monospace;
    color : white;
    text-align: left;
}
.partie-5{
    text-align: left;
    color: white;
    width: 60%;
}
.apple-1{
     border-radius: 50px;
    box-shadow: 6px 6px 25px black;
    padding: 50px;
    text-align: center;
    width: 95%;
}
h4{
    text-align: center;
    color:white; 
}
.partie-6{
    border-radius: 50px;
    box-shadow: 6px 6px 25px white;
    padding: 50px;
    text-align: center;
    width: 95%;
}h5{
    text-align: center;
    color:white; 
}
.partie-7{
    border-radius: 50px;
    box-shadow: 6px 6px 25px black;
    padding: 50px;
    text-align: center;
    width: 95%;
}
.partie-8{
    text-align: left;
    color:white; 
}
.partie-9{
    text-align: left;
    color:white; 
}